.site-header {
  @extend %padding-small;
  border-bottom: 1px solid $border-color;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  a {
    @extend %header-style;
    letter-spacing: 8px;
  }

.site-nav {
  a:hover {
    @extend %link-hover;
  }
}


  // .avatar {
  //   height: 2em;
  //   width: 2em;
  //   float: left;
  //   margin-top: -3px;
  //   border-radius: 0.2em;
  //   margin-right: 1em;
  // }
}