article {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 400;
    margin: 0;
  }
}

.comments {
  margin-top: 12%;
  }

// .poster {
//   display: inline-block;
//   height: 200px;
// }


img {
  width: 100%;
  max-width: 100%;
  height: auto;
}